# vim: set ft=yaml:
version: "2.4"
services:
  plugin_nginx:
    image: docker.io/isoxya/isoxya-plugin-nginx:latest
    networks:
      streamer:
        aliases:
          - isoxya-plugin-nginx.localhost
    restart: on-failure
networks:
  streamer: {}
